// Elements
// ==========

img{
  max-width: 100%;
  height: auto;
  display: block;
}

hr{
  height: 0;
  border: 0;
  border-bottom: 4px solid $gray-light;
  padding-top: kunit(1);
  margin: -2px 0;
}

embed, iframe, .fluid-width-video-wrapper{
  margin: kunit(1) 0;
}

.fluid-width-video-wrapper{
  iframe{
    margin: 0;
  }
}