// Global Styles
// ===============

*{
  &, 
  &:before, 
  &:after{
    box-sizing: border-box;
  }
}

::selection{
  color: $white;
  background: $highlight;
}

html, body{
  height: 100%;
  overflow-x: hidden;
}