.post{
  margin: kunit(4) 0;
  @include cf;
  a{
    border-bottom: 2px solid $gray;
    &:hover, &:focus{
      border-color: $black;
    }
  }
}

.post-title{
  margin-top: 0;

  // Fix extra long unbreaking titles like 'antidisestablishmentarianism'
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post-meta{

}

.post-header{

}

.post-content{

}