.site-header{

}

.site-logo{
  display: inline-block;
  margin: kunit(1) auto;
}

.site-title{

}

.site-description{

}

.site-navigation{
  li{
    @include ktype(2,1,2);
    + li{
      margin-left: kunit(1);
    }
  }
}

.site-footer{
  border-top: 1px solid $gray-light;
  padding: kunit(1);
  margin-top: kunit(1);
  .copyright{
    @include ktype(0,0,0);
  }
}